<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div><wbr>
            <h1><a href="/">Django Girl Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>hey there my name is bhanuja and i wanted to talk about my experience while making my first project.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>hey there i'm back with another blog in which i am going to tell u to about my first journey alone to banglore .</p>
        </div>
    </body>
</html>
